xml-resources/web-service-references/Customer/wsdl/localhost_8080/Server/Customer.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bankapplication.frostmourne.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://bankapplication.frostmourne.com/" name="Customer">
<types>
<xsd:schema>
<xsd:import namespace="http://bankapplication.frostmourne.com/" schemaLocation="http://localhost:8080/Server/Customer?xsd=1"/>
</xsd:schema>
</types>
<message name="getCustomerDetails">
<part name="parameters" element="tns:getCustomerDetails"/>
</message>
<message name="getCustomerDetailsResponse">
<part name="parameters" element="tns:getCustomerDetailsResponse"/>
</message>
<message name="createCustomer">
<part name="parameters" element="tns:createCustomer"/>
</message>
<message name="createCustomerResponse">
<part name="parameters" element="tns:createCustomerResponse"/>
</message>
<message name="InvalidDataException">
<part name="fault" element="tns:InvalidDataException"/>
</message>
<message name="updateCustomer">
<part name="parameters" element="tns:updateCustomer"/>
</message>
<message name="updateCustomerResponse">
<part name="parameters" element="tns:updateCustomerResponse"/>
</message>
<message name="getAllCustomer">
<part name="parameters" element="tns:getAllCustomer"/>
</message>
<message name="getAllCustomerResponse">
<part name="parameters" element="tns:getAllCustomerResponse"/>
</message>
<message name="deleteCustomer">
<part name="parameters" element="tns:deleteCustomer"/>
</message>
<message name="deleteCustomerResponse">
<part name="parameters" element="tns:deleteCustomerResponse"/>
</message>
<portType name="Customer">
<operation name="getCustomerDetails">
<input wsam:Action="http://bankapplication.frostmourne.com/Customer/getCustomerDetailsRequest" message="tns:getCustomerDetails"/>
<output wsam:Action="http://bankapplication.frostmourne.com/Customer/getCustomerDetailsResponse" message="tns:getCustomerDetailsResponse"/>
</operation>
<operation name="createCustomer">
<input wsam:Action="http://bankapplication.frostmourne.com/Customer/createCustomerRequest" message="tns:createCustomer"/>
<output wsam:Action="http://bankapplication.frostmourne.com/Customer/createCustomerResponse" message="tns:createCustomerResponse"/>
<fault message="tns:InvalidDataException" name="InvalidDataException" wsam:Action="http://bankapplication.frostmourne.com/Customer/createCustomer/Fault/InvalidDataException"/>
</operation>
<operation name="updateCustomer">
<input wsam:Action="http://bankapplication.frostmourne.com/Customer/updateCustomerRequest" message="tns:updateCustomer"/>
<output wsam:Action="http://bankapplication.frostmourne.com/Customer/updateCustomerResponse" message="tns:updateCustomerResponse"/>
<fault message="tns:InvalidDataException" name="InvalidDataException" wsam:Action="http://bankapplication.frostmourne.com/Customer/updateCustomer/Fault/InvalidDataException"/>
</operation>
<operation name="getAllCustomer">
<input wsam:Action="http://bankapplication.frostmourne.com/Customer/getAllCustomerRequest" message="tns:getAllCustomer"/>
<output wsam:Action="http://bankapplication.frostmourne.com/Customer/getAllCustomerResponse" message="tns:getAllCustomerResponse"/>
</operation>
<operation name="deleteCustomer">
<input wsam:Action="http://bankapplication.frostmourne.com/Customer/deleteCustomerRequest" message="tns:deleteCustomer"/>
<output wsam:Action="http://bankapplication.frostmourne.com/Customer/deleteCustomerResponse" message="tns:deleteCustomerResponse"/>
<fault message="tns:InvalidDataException" name="InvalidDataException" wsam:Action="http://bankapplication.frostmourne.com/Customer/deleteCustomer/Fault/InvalidDataException"/>
</operation>
</portType>
<binding name="CustomerPortBinding" type="tns:Customer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCustomerDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidDataException">
<soap:fault name="InvalidDataException" use="literal"/>
</fault>
</operation>
<operation name="updateCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidDataException">
<soap:fault name="InvalidDataException" use="literal"/>
</fault>
</operation>
<operation name="getAllCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidDataException">
<soap:fault name="InvalidDataException" use="literal"/>
</fault>
</operation>
</binding>
<service name="Customer">
<port name="CustomerPort" binding="tns:CustomerPortBinding">
<soap:address location="http://localhost:8080/Server/Customer"/>
</port>
</service>
</definitions>