src/META-INF/wsdl/localhost_8080/Server/Employee.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bankapplication.frostmourne.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://bankapplication.frostmourne.com/" name="Employee">
<types>
<xsd:schema>
<xsd:import namespace="http://bankapplication.frostmourne.com/" schemaLocation="http://localhost:8080/Server/Employee?xsd=1"/>
</xsd:schema>
</types>
<message name="checkEmployeeExists">
<part name="parameters" element="tns:checkEmployeeExists"/>
</message>
<message name="checkEmployeeExistsResponse">
<part name="parameters" element="tns:checkEmployeeExistsResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="UsernamePasswordException">
<part name="fault" element="tns:UsernamePasswordException"/>
</message>
<message name="createEmployee">
<part name="parameters" element="tns:createEmployee"/>
</message>
<message name="createEmployeeResponse">
<part name="parameters" element="tns:createEmployeeResponse"/>
</message>
<message name="employeeLogout">
<part name="parameters" element="tns:employeeLogout"/>
</message>
<message name="employeeLogoutResponse">
<part name="parameters" element="tns:employeeLogoutResponse"/>
</message>
<message name="updateEmployee">
<part name="parameters" element="tns:updateEmployee"/>
</message>
<message name="updateEmployeeResponse">
<part name="parameters" element="tns:updateEmployeeResponse"/>
</message>
<message name="deleteEmployee">
<part name="parameters" element="tns:deleteEmployee"/>
</message>
<message name="deleteEmployeeResponse">
<part name="parameters" element="tns:deleteEmployeeResponse"/>
</message>
<message name="checkUser">
<part name="parameters" element="tns:checkUser"/>
</message>
<message name="checkUserResponse">
<part name="parameters" element="tns:checkUserResponse"/>
</message>
<portType name="Employee">
<operation name="checkEmployeeExists">
<input wsam:Action="http://bankapplication.frostmourne.com/Employee/checkEmployeeExistsRequest" message="tns:checkEmployeeExists"/>
<output wsam:Action="http://bankapplication.frostmourne.com/Employee/checkEmployeeExistsResponse" message="tns:checkEmployeeExistsResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://bankapplication.frostmourne.com/Employee/loginRequest" message="tns:login"/>
<output wsam:Action="http://bankapplication.frostmourne.com/Employee/loginResponse" message="tns:loginResponse"/>
<fault message="tns:UsernamePasswordException" name="UsernamePasswordException" wsam:Action="http://bankapplication.frostmourne.com/Employee/login/Fault/UsernamePasswordException"/>
</operation>
<operation name="createEmployee">
<input wsam:Action="http://bankapplication.frostmourne.com/Employee/createEmployeeRequest" message="tns:createEmployee"/>
<output wsam:Action="http://bankapplication.frostmourne.com/Employee/createEmployeeResponse" message="tns:createEmployeeResponse"/>
</operation>
<operation name="employeeLogout">
<input wsam:Action="http://bankapplication.frostmourne.com/Employee/employeeLogoutRequest" message="tns:employeeLogout"/>
<output wsam:Action="http://bankapplication.frostmourne.com/Employee/employeeLogoutResponse" message="tns:employeeLogoutResponse"/>
</operation>
<operation name="updateEmployee">
<input wsam:Action="http://bankapplication.frostmourne.com/Employee/updateEmployeeRequest" message="tns:updateEmployee"/>
<output wsam:Action="http://bankapplication.frostmourne.com/Employee/updateEmployeeResponse" message="tns:updateEmployeeResponse"/>
</operation>
<operation name="deleteEmployee">
<input wsam:Action="http://bankapplication.frostmourne.com/Employee/deleteEmployeeRequest" message="tns:deleteEmployee"/>
<output wsam:Action="http://bankapplication.frostmourne.com/Employee/deleteEmployeeResponse" message="tns:deleteEmployeeResponse"/>
</operation>
<operation name="checkUser">
<input wsam:Action="http://bankapplication.frostmourne.com/Employee/checkUserRequest" message="tns:checkUser"/>
<output wsam:Action="http://bankapplication.frostmourne.com/Employee/checkUserResponse" message="tns:checkUserResponse"/>
</operation>
</portType>
<binding name="EmployeePortBinding" type="tns:Employee">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="checkEmployeeExists">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UsernamePasswordException">
<soap:fault name="UsernamePasswordException" use="literal"/>
</fault>
</operation>
<operation name="createEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="employeeLogout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Employee">
<port name="EmployeePort" binding="tns:EmployeePortBinding">
<soap:address location="http://localhost:8080/Server/Employee"/>
</port>
</service>
</definitions>